*,
*::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font: 16px;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover {
    opacity: 1;
}

/*Header Styles */
header {
    position: absolute;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 5s fadein 0.5s forwards;
    z-index: 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ul,
nav {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

/*All section*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 80px;
}

section:not(.intro):nth-child(even) {
    background-color: #f5f5f5;
}

section h3 {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 18px;
    text-align: center;
}

section p {
    max-width: 775;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}

/*intro Styles*/

.intro {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 150px;
    min-height: 100vh;
    color: #fff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.intro h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}

.intro h3 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}


.intro-content-area {
    animation: 2s slidefade 1s forwards;
}

@keyframes slidefade {
    0% {
        opacity: 0;
        margin-top: 100px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

/*Login Form*/
.login-wrapper {
    height: 150%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s slidefade 1s forwards;
}

.login-form {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 32px;
    color: #fff;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .3s ease-out;
}

.login-form input:focus+label,
.login-form input:valid+label {
    transform: translateY(-18px);
    color: rgb(3, 102, 102);
    font-size: 12px;
}

.login-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: rgb(3, 102, 102);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #fff;
}

.forgot-pw {
    color: inherit;
    text-decoration: none;
}

/*Registration form*/

.reg-wrapper {
    background: inherit;
    box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
    padding: 20px 30px;
    border-radius: 4px;
    width: 800px;
}

.reg-wrapper h4 {
    font-size: 20px;
}

.reg fieldset {
    border: none;
    margin: 15px 0;
}

.type-information {
    display: flex;
    justify-content: space-around;
}

.left-column {
    flex-basis: 45%;
}

.right-column {
    flex-basis: 55%;
}

.account-details,
.personal-details>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gender {
    display: flex;
    align-items: baseline;
    width: 250px;
}

.day,
.mounth,
.country {
    font-size: 16px;
    padding: 10px;
    border: solid 1px #627EDC;
    border-radius: 4px;
}

.reg label {
    padding-top: 15px;
    width: 100%;
    font-size: 18px;
}

.reg input {
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: solid 1px #627EDC;
}

input[type='checkbox'],
[type='radio'] {
    margin-right: 10px;
}

legend {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(3, 102, 102);
}

.reg span {
    font-size: 18px;
}

.reg-buttons {
    display: flex;
    justify-content: space-around;
}

.reg-btn {
    display: block;
    width: 25%;
    padding: 16px;
    border: solid 1px #627EDC;
    border-radius: 4px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.reg-btn-sbmt {
    background: rgb(3, 102, 102);
}

.reg-btn-sbmt:hover {
    background: rgb(6, 168, 168);
    transition: background-color 2s ease-out;
}

.reg-btn-canc {
    background: rgb(160, 137, 7);
}

.reg-btn-canc:hover {
    background: rgb(241, 207, 11);
    transition: background-color 2s ease-out;
}


/*Options Section*/
.options-inner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-img {
    width: 750px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}


.box-img p {
    padding: 0;
    margin: 0 10px;
}

.box-img h2 {
    text-align: center;
}

.thailand,
.australia {
    height: 355px;
    width: 450px;
    padding: 0;
}

.thailand {
    float: left;
    margin-right: 10px;

}

.australia {
    float: right;
}

.asia {
    margin-top: 10px;
    width: 100%;
}

.box-asia {
    margin-top: 100px;
}

.travel-photo {
    width: 600px;
    height: 400px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgb(20, 1, 1);
}

.travel-photo:hover {
    z-index: 4;
}

.collage {
    margin-top: 100px;
    position: relative;
    width: 1200px;
    height: 700px;

}

.ph1 {
    z-index: 1;
    top: 50px;
    left: 0;
}

.ph2 {
    left: 280px;
    top: 150px;
    z-index: 2;
}

.ph3 {
    left: 600px;
    top: 250px;
    z-index: 3;
}


/*Packages Section*/

.packages li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages li i {
    color: #8c9eff;
}

.packages li h4 {
    font-size: 30px;
    margin: 25px 0;
}

/*Contact Form */

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
    line-height: 1;
    margin-top: 20px;
}

.contact-wrapper>* {
    padding: 8px;
}

.form-info {
    background: rgb(3, 102, 102);
    border-radius: 4px;
    line-height: 1.5;
}

.form-info h3,
.form-info ul {
    text-align: center;
    margin: 0 0 8px 0;
}

.contact {
    border-radius: 4px;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

.contact-form label {
    display: block;
    font-size: 18px;
    padding-bottom: 10px;
}

.contact-bottom label {
    text-align: center;
}

.contact-inner-box {
    padding: 0 20px;
    margin-bottom: 20px;
}

.contact-inner-box select {
    font-size: 16px;
    padding: 16px;
    border: solid 1px #627EDC;
    border-radius: 4px;
    width: 100%;
}

.contact-inner-box option {
    font-size: 16px;
}

.contact-bottom {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-form button,
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: solid 1px #627EDC;
    border-radius: 4px;
}

.contact-form textarea {
    resize: none;
}

.contact-btn {
    background: rgb(3, 102, 102);
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.contact-btn:hover {
    background: rgb(6, 168, 168);
    transition: background-color 2s ease-out;
}

/*Top button*/

.topbutton {
    width: 100px;
    border: 2px solid rgb(71, 61, 61);
    background: rgb(88, 88, 88);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(3, 102, 102);
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;

}

footer li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-items: center;
}